[submodule "components/nx-hbloader"]
	path = components/nx-hbloader
	url = https://github.com/switchbrew/nx-hbloader.git
	ignore = dirty
[submodule "components/nx-hbmenu"]
	path = components/nx-hbmenu
	url = https://github.com/switchbrew/nx-hbmenu.git
	ignore = dirty
[submodule "components/Lockpick_RCM"]
	path = components/Lockpick_RCM
	url = https://github.com/shchmue/Lockpick_RCM.git
	ignore = dirty
[submodule "components/ldn_mitm"]
	path = components/ldn_mitm
	url = https://github.com/spacemeowx2/ldn_mitm.git
	ignore = dirty
[submodule "components/sys-clk"]
	path = components/sys-clk
	url = https://github.com/retronx-team/sys-clk.git
	ignore = dirty
[submodule "components/Goldleaf"]
	path = components/Goldleaf
	url = https://github.com/XorTroll/Goldleaf.git
	ignore = dirty
[submodule "components/NX-Shell"]
	path = components/NX-Shell
	url = https://github.com/joel16/NX-Shell.git
	ignore = dirty
[submodule "components/emuiibo"]
	path = components/emuiibo
	url = https://github.com/XorTroll/emuiibo.git
	ignore = dirty
[submodule "components/Toolbox"]
	path = components/Toolbox
	url = https://github.com/designgears/Kosmos-Toolbox.git
	ignore = dirty
[submodule "components/sys-clk-Editor"]
	path = components/sys-clk-Editor
	url = https://github.com/SunTheCourier/sys-clk-Editor.git
	ignore = dirty
[submodule "components/hekate"]
	path = components/hekate
	url = https://github.com/CTCaer/hekate.git
	ignore = dirty
[submodule "components/Noexes"]
	path = components/Noexes
	url = https://github.com/KranKRival/Noexes.git
	ignore = dirty
[submodule "components/Checkpoint"]
	path = components/Checkpoint
	url = https://github.com/FlagBrew/Checkpoint.git
	ignore = dirty
[submodule "components/nxdumptool"]
	path = components/nxdumptool
	url = https://github.com/DarkMatterCore/nxdumptool.git
	ignore = dirty
[submodule "components/Incognito_RCM"]
	path = components/Incognito_RCM
	url = https://github.com/jimzrt/Incognito_RCM.git
	ignore = dirty
[submodule "components/sys-con"]
	path = components/sys-con
	url = https://github.com/cathery/sys-con.git
	ignore = dirty
[submodule "components/EdiZon"]
	path = components/EdiZon
	url = https://github.com/WerWolv/EdiZon.git
	ignore = dirty
[submodule "components/sys-ftpd-light"]
	path = components/sys-ftpd-light
	url = https://github.com/cathery/sys-ftpd-light.git
	ignore = dirty
[submodule "components/Awoo-Installer"]
	path = components/Awoo-Installer
	url = https://github.com/Huntereb/Awoo-Installer.git
	ignore = dirty
[submodule "components/hb-appstore"]
	path = components/hb-appstore
	url = https://github.com/vgmoose/hb-appstore.git
	ignore = dirty
[submodule "components/Tesla-Menu"]
	path = components/Tesla-Menu
	url = https://github.com/WerWolv/Tesla-Menu.git
	ignore = dirty
[submodule "components/nx-ovlloader"]
	path = components/nx-ovlloader
	url = https://github.com/WerWolv/nx-ovlloader.git
	ignore = dirty
[submodule "components/sys-clk-Overlay"]
	path = components/sys-clk-Overlay
	url = https://github.com/Sun-Research-University/sys-clk-Overlay.git
	ignore = dirty
[submodule "components/pacman-packages"]
	path = components/pacman-packages
	url = https://github.com/HookedBehemoth/pacman-packages.git
	ignore = dirty
[submodule "components/Status-Monitor-Overlay"]
	path = components/Status-Monitor-Overlay
	url = https://github.com/masagrator/Status-Monitor-Overlay.git
	ignore = dirty
[submodule "components/Atmosphere"]
	path = components/Atmosphere
	url = https://github.com/Atmosphere-NX/Atmosphere.git
	ignore = dirty
