[submodule "components/atmosphere"]
	path = components/atmosphere
	url = https://github.com/Atmosphere-NX/Atmosphere.git
[submodule "components/hekate"]
	path = components/hekate
	url = https://github.com/Joonie86/hekate.git
	branch = master
[submodule "components/nx-hbloader"]
	path = components/nx-hbloader
	url = https://github.com/switchbrew/nx-hbloader.git
[submodule "components/nx-hbmenu"]
	path = components/nx-hbmenu
	url = https://github.com/switchbrew/nx-hbmenu.git
[submodule "components/checkpoint"]
	path = components/checkpoint
	url = https://github.com/FlagBrew/Checkpoint.git
[submodule "components/edizon"]
	path = components/edizon
	url = https://github.com/WerWolv/EdiZon.git
[submodule "components/lockpick-rcm"]
	path = components/lockpick-rcm
	url = https://github.com/shchmue/Lockpick_RCM
	ignore = untracked
[submodule "components/edizon-scripts"]
	path = components/edizon-scripts
	url = https://github.com/WerWolv/EdiZon_CheatsConfigsAndScripts.git
[submodule "components/sys-clk"]
	path = components/sys-clk
	url = https://github.com/retronx-team/sys-clk.git
[submodule "components/libnx"]
	path = components/libnx
	url = https://github.com/switchbrew/libnx.git
[submodule "components/ldn_mitm"]
	path = components/ldn_mitm
	url = https://github.com/designgears/ldn_mitm.git
[submodule "components/goldleaf"]
	path = components/goldleaf
	url = https://github.com/XorTroll/Goldleaf
